<!doctype html>
<html>
    <head>
        <title>Meadowlar Travel</title>
    </head>
    <body>
        <header>
            <img src="/img/phone.png" alt="Meadowlark Travel Logo">
        </header>
        {{{body}}}
    </body>
</html>